@{
    ViewBag.Title = "Home Page";
}


<img width="900px" alt="Picture of Greek Dancers - Opa!" class="img-responsive center-block" src="/Content/images/Cover.jpg"  />

<div class="row.center-block" style="display: table;margin-left: auto;margin-right: auto;float:none;">
    
    <div class="col-sm-4 col-md-4 col-lg-3 col-lg-4" style="background-color:beige; width:300px;height: 290px;vert-align:top;">
        <h2>Featuring</h2>
        <ul class="list-group">
            <li>Authentic Food, Beer & Wine</li>
            <li>Live Greek Music with <a href="http://www.jessemanno.com/" target="_blank">Jesse Manno and Friends</a></li>
            <li>Dancing performances</li>
            <li>Church Tours</li>
            <li>Byzantine Choir Singing</li>
            <li>Books, Icons & Gifts</li>
            <li>Free Parking & Admission</li>
            <li>Jumping Castles!</li>
        </ul>
        <p style="position:absolute;bottom:5px;">
            <a class="btn btn-default" href="/Home/Schedule">Schedule</a>
            <a class="btn btn-default" href="/Home/Menu">Food Menu</a>
        </p>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-3 col-lg-4" style="background-color:#b2c5e6; width:300px;height: 290px;vertical-align:top;">
        <h2>Festival Location</h2>
        Saints Peter &amp; Paul Greek Orthodox Church<br />
        5640 Jay Road<br />
        Boulder, Colorado 80301<br />
        <br />
        <p>Take Foothills Parkway to Jay Road, <br />then head ½ mile east</p>
        <p style="position:absolute;bottom:10px;"><a class="btn btn-default" href="http://goo.gl/gc7cWt" target="_new">Map/Directions</a></p>
    </div>
    <div class="col-sm-4  col-md-4 col-lg-3 col-lg-4" style="background-color:#ddecfc; width:300px;height: 290px;">
        <h2>Our Church</h2>
        <p>
            is made up of diverse Orthodox traditions, from Greece, Romania, Serbia, Lebanon, Palestine, Russia, and the Ukraine. This unique event gives our neighbors in the community a chance to experience the tastes and sounds, dance, and religion.  We invite you visit our festival, enjoy the food, the music, and our culture.  Opa!
        </p>
        <p style="position:absolute;bottom:10px;"><a class="btn btn-default" href="http://www.stspeterandpaulboulder.org" target="_new">Learn more &raquo;</a></p>
    </div>
</div>
