@{
    ViewBag.Title = "Schedule";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Schedule</h2>
<div style="display: table;margin-left: auto;margin-right: auto;float:none;width:fill-available; ">
    <div class="row.center-block">
        <table class="table-bordered" style="text-indent:5px; background-color:#c9d0fa; width:100%;" >
            <tr>
                <td colspan="3" style="font-size:x-large; text-align:center;"><strong>Friday September 11<sup>th</sup></strong></td>
            </tr>
            <tr style="background-color:beige; font-size:large; text-align:center; font-weight:bold;">
                <td>Time</td>
                <td>Event</td>
                <td>Location</td>
            </tr>
            <tr>
                <td>4:00pm</td>
                <td>Agiasmo and Triasagion Service to commemorate 9/11</td>
                <td>Church</td>
            </tr>
            <tr>
                <td>5:00pm</td>
                <td>Live music starts with <a href="http://www.jessemanno.com/" target="_blank">Jesse Manno and Friends</a></td>
                <td>Stage</td>
            </tr>
            <tr>
                <td>6:00pm</td>
                <td>Church Tour and informal Q&amp;A</td>
                <td>Church</td>
            </tr>
            <tr>
                <td>6:30pm</td>
                <td>Dancing Zorbas - Greek Dance Group</td>
                <td>Stage</td>
            </tr>
            <tr>
                <td>8:00pm</td>
                <td>Church Tour and informal Q&amp;A</td>
                <td>Church</td>
            </tr>
            <tr>
                <td>8:30pm</td>
                <td>Dancing Zorbas - Greek Dance Group</td>
                <td>Stage</td>
            </tr>
            <tr>
                <td>9:00pm</td>
                <td>Jesse Manno and Friends</td>
                <td>Stage</td>
            </tr>
        </table>
        <br />
        <table class="table-bordered" style="text-indent:5px; background-color:#c9d0fa; width:100%;">
            <tr>
                <td colspan="3" style="font-size:x-large; text-align:center;">
                    <strong>Saturday September 12<sup>th</sup></strong>
                </td>
            </tr>
            <tr style="background-color:beige; font-size:large; text-align:center; font-weight:bold;">
                <td>Time</td>
                <td>Event</td>
                <td>Location</td>
            </tr>
           
            <tr>
                <td>11:00am</td>
                <td>Taste of Orthodoxy opens!</td>
                <td></td>
            </tr>
           <tr>
                <td>12:00am - 2:00pm</td>
                <td>Boulder Rural Fire Truck - tour and hats for the kids</td>
                <td>Parking Lot</td>
            </tr>
            <tr>
                <td>12:00pm</td>
                <td>Dancing Zorbas - Kids Dance group</td>
                <td>Stage</td>
            </tr>
            <tr>
                <td>12:15pm</td>
                <td>Dancing Zorbas - Dance group</td>
                <td>Stage</td>
            </tr>
            <tr>
                <td>12:30pm</td>
                <td>Church Tour and informal Q&amp;A</td>
                <td>Church</td>
            </tr>
            <tr>
                <td>12:45pm</td>
                <td>Fotia - Greek Dance group</td>
                <td>Stage</td>
            </tr>
            <tr>
                <td>1:00pm</td>
                <td>Choir Concert</td>
                <td>Church</td>
            </tr>
            <tr>
                <td>2:00pm</td>
                <td>Church Tour and informal Q&amp;A</td>
                <td>Church</td>
            </tr>
            <tr>
                <td>2:30pm</td>
                <td>Fotia - Greek Dance group</td>
                <td>Stage</td>
            </tr>
            <tr>
                <td>4:00pm</td>
                <td>Choir chants Vespers Service</td>
                <td>Church</td>
            </tr>
            <tr>
                <td>5:00pm</td>
                <td>Church Tour and informal Q&amp;A</td>
                <td>Church</td>
            </tr>
            <tr>
                <td>5:00pm</td>
                <td>Live Music: Jesse Manno and Friends</td>
                <td>Stage</td>
            </tr>
            <tr>    
                <td>6:00pm</td>
                <td>Kleftes - Greek Dance Group</td>
                <td>Stage</td>
            </tr>
            <tr>
                <td>6:30pm</td>
                <td>Dancing Zorbas - Greek Dance Group</td>
                <td>Stage</td>
            </tr>
            <tr>
                <td>7:00pm</td>
                <td>Live Music: Jesse Manno and Friends</td>
                <td>Stage</td>
            </tr>
             <tr>
                <td>7:00pm</td>
                <td>Church Tour and informal Q&amp;A</td>
                <td>Church</td>
            </tr>
            <tr>
                <td>8:00pm</td>
                <td>Kleftes - Greek Dance Group Night Show</td>
                <td>Stage</td>
            </tr>
            <tr>
                <td>8:30pm</td>
                <td>Dancing Zorbas - Greek Dance Group Taverna Show</td>
                <td>Stage</td>
            </tr>
            <tr>
                <td>9:00pm</td>
                <td>Live Music: Jesse Manno and Friends</td>
                <td>Stage</td>
            </tr>
        </table>
        <br />
        <table class="table-bordered" style="text-indent:5px; background-color:#c9d0fa; width:100%;">

            <tr>
                <td colspan="3" style="font-size:x-large; text-align:center;">
                    <strong>Sunday September 13<sup>th</sup></strong>
                </td>
            </tr>
            <tr style="background-color:beige; font-size:large; text-align:center; font-weight:bold;">
                <td>Time</td>
                <td>Event</td>
                <td>Location</td>
            </tr>
            <tr>
                <td>8:00am</td>
                <td>Orthros - Morning Prayers - Public Welcome!</td>
                <td></td>
            </tr>
            <tr>
                <td>9:00am</td>
                <td>Divine Liturgy - Public Welcome!</td>
                <td>Church</td>
            </tr>
            <tr>
                <td>11:00am</td>
                <td>Taste of Orthodoxy Opens!</td>
                <td>Stage</td>
            </tr>
            <tr>
                <td>12:00am - 2:00pm</td>
                <td>Boulder Rural Fire Truck - tour and hats for the kids</td>
                <td>Parking Lot</td>
            </tr>
           <tr>
                <td>12:00pm</td>
                <td>Choir/Church Tour and informal Q &amp; A</td>
                <td>Church</td>
            </tr>
            <tr>
                <td>12:00pm</td>
                <td>Dancing Zorbas Kids - Greek Dance Group</td>
                <td>Stage</td>
            </tr>
            <tr>
                <td>12:15pm</td>
                <td>Dancing Zorbas - Greek Dance Group</td>
                <td>Stage</td>
            </tr>
            <tr>
                <td>1:00pm</td>
                <td>Live Music: Jesse Manno and Friends</td>
                <td>Stage</td>
            </tr>
            <tr>
                <td>1:00pm</td>
                <td>Choir concert</td>
                <td>Church</td>
            </tr>
            <tr>
                <td>2:00pm</td>
                <td>Church Tour and informal Q &amp; A</td>
                <td>Church</td>
            </tr>
            <tr>
                <td>3:00pm</td>
                <td>Dancing Zorbas - Greek Dance Group</td>
                <td>Stage</td>
            </tr>
            <tr>
                <td>3:30pm</td>
                <td>Doina Choir</td>
                <td>Church</td>
            </tr>
            <tr>
                <td>4:00pm</td>
                <td>Live Music: Jesse Manno and Friends</td>
                <td>Stage</td>
            </tr>
            <tr>
                <td>4:00pm</td>
                <td>Church Tour and informal Q &amp; A</td>
                <td>Church</td>
            </tr>
            <tr>
                <td>5:00pm</td>
                <td>Taste of Orthodoxy closes</td>
                <td></td>
            </tr>
        </table>
    </div>
</div>
